html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.wrapper {
    width: 400px;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: black;
    width: 100%;
    height: 5rem;
    padding-right: 0.5rem;
}

.button,
.special-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    width: 25%;
    font-size: 2.5rem;
    color: black;
    background-color: #d8d9db;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.special-button {
    color: white;
    background-color: #df974c;
    border-right: none;
}

.row {
    display: flex;
}

.button.morespace {
    width: 50%;
}

.button.mostspace {
    width: 75%;
}

.button:hover {
    background-color: #ebebeb;
}

.special-button:hover {
    background-color: #dfb07e;
}

.button,
.special-button {
    cursor: pointer;
}